<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.practice.repository.OrderRepository">

    <resultMap id="orderMap" type="Order">
        <id property="id" column="id"/>
        <result property="aid" column="ani_id"/>
        <result property="mid" column="member_id"/>
        <result property="info" column="info"/>
        <result property="createdAt" column="createdAt"/>
        <result property="updatedAt" column="updatedAt"/>
        <collection property="member" resultMap="memberMap"/>
        <collection property="ani" resultMap="aniMap"/>
    </resultMap>

    <resultMap id="memberMap" type="Member">
        <id property="id" column="id"/>
        <result property="email" column="email"/>
        <result property="auth" column="auth"/>
        <result property="createdAt" column="createdAt"/>
        <result property="updatedAt" column="updatedAt"/>
    </resultMap>

    <resultMap id="aniMap" type="Ani">
        <id property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="content" column="content"/>
        <result property="genre" column="genre"/>
        <result property="createdAt" column="createdAt"/>
        <result property="updatedAt" column="updatedAt"/>
    </resultMap>

    <select id="findAll">

    </select>

    <select id="findById">

    </select>

    <insert id="save" useGeneratedKeys="true" keyProperty="id">

    </insert>

    <update id="update">

    </update>

    <delete id="delete">

    </delete>

</mapper>